# Global / IDE
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Logs Globais
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node Modules (Proteção Global)
node_modules/

# Cursor (Regras versionadas)
.cursor/
web/.env
