:root {
    --surface-ground: #f4f4f5;
    --code-background: var(--p-surface-900);
    --code-color: var(--p-surface-200);
    --p-text-color: #18181b;
    --text-color: #18181b;
    --surface-card: #fff;
    --surface-overlay: #fff;
    --surface-hover: #ececec;
} 