// Estilos do menu
.menu {
  background: var(--primary-color);
  color: #fff;
  padding: 1rem;
}

// Estilos do menu lateral e sidebar

.layout-sidebar {
    position: fixed;
    width: 20rem;
    height: calc(100vh - 8rem);
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    top: 6rem;
    left: 2rem;
    transform: translateX(0);
    transition: transform var(--layout-section-transition-duration) cubic-bezier(0.05, 0.74, 0.2, 0.99), left var(--layout-section-transition-duration);
    background-color: var(--surface-overlay);
    border-radius: var(--content-border-radius);
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.layout-static-inactive .layout-sidebar {
    transform: translateX(-120%);
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.layout-root-menuitem > .layout-menuitem-root-text {
    font-size: 0.857rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-color);
    margin: 0.75rem 0 0.25rem 0;
    display: block;
}

.layout-root-menuitem ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.layout-root-menuitem ul li {
    margin-left: 1rem;
}

.layout-root-menuitem ul li a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: 0.75rem 1rem;
    border-radius: var(--content-border-radius);
    transition: background-color var(--element-transition-duration), box-shadow var(--element-transition-duration);
    width: 100%;
    box-sizing: border-box;
}

.layout-root-menuitem ul li a:hover {
    background-color: var(--surface-hover);
}

.layout-root-menuitem ul li a i {
    margin-right: 0.5rem;
}

.layout-root-menuitem ul li a:focus {
    outline: none;
    box-shadow: none;
}

.layout-root-menuitem ul li a.active-route {
    font-weight: 700;
    color: var(--primary-color);
}
